.page {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #F2F3FF;
  margin: 30px 30px 30px 30px;
}

.abstract {
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(#FFFFFF, #F2F3FF);
}

.abstract img {
    height: 120px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.memberInfo {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
    justify-content: center;
}

h4 {
    font: 'inter', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #111111;
}

.memberSince {
    font: 'inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #707070;
}

.distanceInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 0px 0px;
}

.distanceTitle {
    font: 'inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #707070;
    margin: 0px 10px 0px 10px;
}

.distanceArea {
    display: flex;
    flex-direction: row;
    background-color: #0B23F4;
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
    height: 50px;
    align-items: center;
}

.distanceArea img {
    height: 30px;
    width: auto;
    margin: 10px 20px 10px 10px;
}

.distance {
    font: 'inter', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.graphArea {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.leftGraph {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.leftGraphTitle {
    font: 'inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #0B23F4;
}

.dateSelection {
    font: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #111111;
}

.graphExplaination {
    font: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #707070;
}

.rightGraph {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.rightGraphTitle {
    font: 'inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #F4320B;
}

.subTitle {
    font: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}

.weekRuns {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px
}

.activityExplaination {
    font: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #707070;
}

.activityTime {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.activityDistance {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.runValue {
    font: 'inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #0B23F4;
}

.runUnit {
    font: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #B6BDFC;
}

.timeValue {
    font: 'inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #0B23F4;
}

.timeUnit {
    font: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #B6BDFC;
}

.distanceValue {
    font: 'inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #F4320B;
}

.distanceUnit {
    font: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FCC1B6;
}

