.header {
  background-color: #F2F3FF;
  padding: 1rem 2rem;
  top: 0;
  z-index: 100;
}

.header-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}


.logoBrand {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.logo {
    height: 23px;
    width: auto;
}

.brand {
    font: 'inter', sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: #0B23F4;
}

.header-logo {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 40px;
  padding: 0px 30px 0px 30px;
}

.nav-link {
  color: #111111;
  text-decoration: none;
  font: 'inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 1rem;
}

.nav-link.active {
}
